---
import { CircleArrowDown } from 'lucide-react'
---

<div class="absolute bottom-8 flex w-screen animate-bounce justify-center">
	<CircleArrowDown className="h-8 w-8 text-white opacity-50" />
</div>
